<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'registerForm', media: 'all', 'data-turbo-track': 'reload' %>
  <title>Register Form</title>
</head>
<body>
      <%= form_with model: @register, url: register_form_path, method: :post, local: true do |f| %>
            <section class="frame">
                <section class="form">
                <div class="header">Register Form</div>
                    <div class="groupform">
                        <div class="formfield">
                            <%= f.label :fristName, 'First Name', for: 'firstName' %>
                            <%= f.text_field :fristName, id: 'firstName', required: true %>
                        </div>
                        <div class="formfield">
                            <%= f.label :lastName, 'Last Name', for: 'lastName' %>
                            <%= f.text_field :lastName, id: 'lastName', required: true %>
                        </div>
                    </div>
                    <div class="groupform">
                        <div class="formfield">
                            <%= f.label :birthDate, 'Birthday', for: 'birthDate' %>
                            <%= f.date_field :birthDate, id: 'birthDate', required: true %>
                        </div>
                        <div class="formfield">
                            <%= f.label :gender, 'Gender' %>
                            <div class="option">
                            <%= f.radio_button :gender, 'Male', id: 'male' %>
                            <%= f.label :gender, 'Male', value: 'Male', for: 'male' %>
                            <%= f.radio_button :gender, 'Female', id: 'female' %>
                            <%= f.label :gender, 'Female', value: 'Female', for: 'female' %>
                            </div>
                        </div>
                    </div>
                    <div class="groupform">
                        <div class="formfield">
                            <%= f.label :email, 'Email', for: 'email' %>
                            <%= f.email_field :email, id: 'email', required: true %>
                        </div>
                        <div class="formfield">
                            <%= f.label :phoneNumber, 'Phone Number', for: 'phoneNumber' %>
                            <%= f.text_field :phoneNumber, id: 'phoneNumber' %>
                        </div>
                    </div>
                    <div class="formfield">
                        <%= f.label :subject, 'Subject', for: 'subject' %>
                        <%= f.select :subject, options_for_select([
                        ['Ruby On Rails', 'ruby'],
                        ['JavaScript', 'javascript'],
                        ['TypeScript', 'typescript']
                        ]), id: 'subject', required: true %>
                    </div>
                    <div class="submit">
                        <%= f.submit 'Submit' %>
                    </div>
                    </section>
            </section>
        <% end %>
</body>
</html>
